.colores {
    color: #ffffff; /* Fondo */
    color: #040013; /* Letras normales */
    color: #005cda; /* Keywords */
    color: #13667d; /* Metodos */
    color: #a7a216; /* strings */
    color: #9397bf; /* Comentarios */
}