/* TODO: Deberia separar en diferentes carpetas los temas, y dentro de cada carpeta los css o algo similar */
/* Java */
.java-keyword {
    -fx-fill: purple;
    -fx-font-weight: bold;
}
.java-semicolon {
    -fx-font-weight: bold;
}
.java-paren {
    -fx-fill: firebrick;
    -fx-font-weight: bold;
}
.java-bracket {
    -fx-fill: darkgreen;
    -fx-font-weight: bold;
}
.java-brace {
    -fx-fill: teal;
    -fx-font-weight: bold;
}
.java-string {
    -fx-fill: blue;
}
.java-tag{
    -fx-fill: green;
    -fx-font-weight: bold;
}
.java-method {
    -fx-fill: darkblue;
}

.java-comment {
    -fx-fill: cadetblue;
}

.java-paragraph-box:has-caret {
    -fx-background-color: #f2f9fc;
}

/* XML */
.xml-tagmark {
    -fx-fill: gray;
}
.xml-anytag {
    -fx-fill: blue;
}
.xml-paren {
    -fx-fill: blue;
    -fx-font-weight: bold;
}
.xml-attribute {
    -fx-fill: darkviolet;
}
.xml-avalue {
    -fx-fill: black;
}

.comment {
    -fx-fill: teal;
}

/* Bracket Highlighter */
.match-bracket {
    -rtfx-background-color: lightgreen;
}

/* Formato del code Area */
.text {
    -fx-color: black;
    -fx-font-size: 16;
    -fx-font-family: monospace;
}