/* TODO: Deberia separar en diferentes carpetas los temas, y dentro de cada carpeta los css o algo similar */
/* Java */
.java-keyword {
    -fx-fill: blue;
    -fx-font-weight: bold;
}
.java-semicolon {
    -fx-fill: blue;
    -fx-font-weight: bold;
}
.java-paren {
    -fx-fill: blue;
    -fx-font-weight: bold;
}
.java-curly {
    -fx-fill: blue;
    -fx-font-weight: bold;
}
.java-bracket {
    -fx-fill: blue;
    -fx-font-weight: bold;
}
.java-brace {
    -fx-fill: blue;
    -fx-font-weight: bold;
}
.java-opertor {
    -fx-fill: blue;
    -fx-font-weight: bold;
}
.java-string {
    -fx-fill: blue;
    -fx-font-weight: bold;
}
.java-tag{
    -fx-fill: blue;
    -fx-font-weight: bold;
}
.java-method {
    -fx-fill: blue;
    -fx-font-weight: bold;
}
.java-comment {
    -fx-fill: blue;
    -fx-font-weight: bold;
}
.java-paragraph-box:has-caret {
    -fx-fill: blue;
    -fx-font-weight: bold;
}
.java-number {
    -fx-fill: blue;
    -fx-font-weight: bold;
}
.java-default {
    
}

/* XML */
.xml-tagmark {
    -fx-fill: blue;
    -fx-font-weight: bold;
}
.xml-tag {
    -fx-fill: blue;
    -fx-font-weight: bold;
}
.xml-paren {
    -fx-fill: blue;
    -fx-font-weight: bold;
}
.xml-cdata {
    -fx-fill: blue;
    -fx-font-weight: bold;
}
.xml-doctype {
    -fx-fill: blue;
    -fx-font-weight: bold;
}
.xml-attribute {
    -fx-fill: blue;
    -fx-font-weight: bold;
}
.xml-attributevalue {
    -fx-fill: blue;
    -fx-font-weight: bold;
}
.xml-comment {
    -fx-fill: blue;
    -fx-font-weight: bold;
}
.xml-default {
    
}

/* Bracket Highlighter */
.match-bracket {
    -rtfx-background-color: lightgreen;
}

/* Formato del code Area */
.text {
    -fx-color: black;
    -fx-font-size: 16;
    -fx-font-family: monospace;
}