.match-bracket {
    -rtfx-background-color: lightgreen;
}

/* Aplica a _todo el texto. commongLang.css y $extension$.css puede sobrescribir propiedades 
    coincidentes */
.code-area {
    -fx-font-family: "Courier New", monospace;
    -fx-font-size: 14px;
    -fx-text-fill: #333333;
    -fx-background-color: #ffffff;
}

.code-area .line-number {
    -fx-fill: #808080;
}

.code-area .caret {
    -fx-background-color: #007bff;
}

.code-area .selection {
    -fx-background-color: rgba(0, 123, 255, 0.3);
}