/* Aplica a _todo el texto. $extension$.css puede sobrescribir propiedades 
    coincidentes */
.keyword {
    -fx-fill: #005cda;
}
.string {
    -fx-fill: #a7a216;
}
.comment {
    -fx-fill: #9397bf;
}
.number {
    -fx-fill: blue;
}
.default {
    -fx-fill: #040013;
}
.method {
    -fx-fill: #13667d;
}

/* Estilo del paragrafo que tiene el caret */
.paragraph-box:has-caret {
}