.keyword {
    -fx-fill: blue;
    -fx-font-weight: bold;
}
.string {
    -fx-fill: blue;
    -fx-font-weight: bold;
}
.tag{
    -fx-fill: blue;
    -fx-font-weight: bold;
}
.method {
    -fx-fill: blue;
    -fx-font-weight: bold;
}
.comment {
    -fx-fill: blue;
    -fx-font-weight: bold;
}
.paragraph-box:has-caret {
    -fx-fill: blue;
    -fx-font-weight: bold;
}
.number {
    -fx-fill: blue;
    -fx-font-weight: bold;
}
.default {
    
}