.match-bracket {
    -rtfx-background-color: #1B1853;
}

/* Aplica a _todo el texto. commongLang.css y $extension$.css puede sobrescribir propiedades 
    coincidentes */
.text {
    -fx-fill: white;
    -fx-font-weight: bold;
    -fx-font-size: 16;
    -fx-font-family: monospace;
}

.styled-text-area {
    -fx-background-color: #6A428A;
}