.match-bracket {
    -rtfx-background-color: #1B1853;
}

/* Aplica a _todo el texto. commongLang.css y $extension$.css puede sobrescribir propiedades 
    coincidentes */
.text {
    -fx-text-fill: #F4F1DE;
    -fx-font-size: 16;
    -fx-font-family: monospace;
}

.styled-text-area {
    -fx-background-color: #14110F;
}