.keyword {
    -fx-fill: #1B1853;
}
.string {
    -fx-fill: #F4F1DE;
}
.comment {
    -fx-fill: #109391;
}
.number {
    -fx-fill: #F4F1DE;
}
.default {
    -fx-fill: #F4F1DE;
}
.method {
    -fx-fill: #1B1853;
}
.common {
    
}
/* Estilo del paragrafo que tiene el caret */
.paragraph-box:has-caret {
}