/***********************************/
/* Estilo de los diferentes fondos */
/***********************************/
.primary-bg {
    background-color: #14110F;
}

.secondary-bg {
    background-color: #1B1853;
}

.third-bg {
    background-color: #F4F1DE;
}

.fourth-bg {
    background-color: #F4F1DE;
}

/******************************************/
/* Estilo de los diferents tipos de texto */
/******************************************/
.error-text {
    color: #DB3975;
}

.success-text {
    color: #109391;
}

.warning-text {
    color: #6A428A;
}

.info-text {
    color: #109391;
}

.normal-text {
    color: #F4F1DE;
}